<form <% if(locals.data){ %>action="/livre/update/<%= data._id %>"<% } else{ %>action="/livre/add"<% } %> method="post">

    <label for="title">Titre</label>
    <input type="text" name="title" <% if (locals.data) { %> value="<%= data.titre %>" <% }%> id="title">

    <label for="date">Date</label>
    <input type="date" name="date" <% if (locals.data) { %> value="<%= moment(data.date).format('YYYY-MM-DD') %>" <% }%> id="date">

    <button type="submit">Enregistrer</button>
</form>
<a href="http://localhost:3000/livre">Retour</a>