<form id="calcul-form" class="mb-5 mt-2" action="/calcul/save" method="post">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-6">

                <div class="row">

                    <div class="col-md-4">
                        <input title="Choisissez votre nombre 1" placeholder="Nombre 1" id="number1" aria-label="Nombre1" required class="form-control" type="number" name="number1">
                    </div>





                    <div class="col-md-4">

                        <select title="Choisissez votre opérateur" placeholder="Opérateur" id="operator" aria-label="Opérateur" required class="form-control" name="operator">
                            <option value="0">+</option>
                            <option value="1">-</option>
                            <option value="2">*</option>
                            <option value="3">/</option>
                        </select>

                    </div>


                    <div class="col-md-4">
                        <input title="Choisissez votre nombre 2" placeholder="Nombre 2" id="number2" aria-label="Nombre2" required class="form-control" type="number" name="number2">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 d-flex justify-content-center mt-2">
            <button onclick="addOrUpdate();return false" data-btn-submit type="submit" class="btn btn-success d-flex align-items-center">
                    <span class="spinner-border spinner-border-sm text-light" style="display: none;" role="status"></span>
                    <i class="fas fa-plus"></i>
                    <span class="text">
                        Ajouter
                    </span>
            </button>
        </div>
    </div>
    <input id="hidden-id" type="hidden" value="" type="hidden" name="id">

</form>