<% include ./templates/head.ejs %>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="mt-3">Oups ! cette page n'a pas été trouvée !</h1>
            <h3 class="mt-3">(Erreur 404)</h3>

        </div>
    </div>
</div>


<% include ./templates/footer.ejs %>
