<% include ../templates/head.ejs %>
<div class="container">

    <table class="table mt-5 table-bordered">
        <thead class="thead-dark">
            <tr class="text-center">
                <th>Technologies</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border-dark" scope="row">Node.js</td>
            </tr>
            <tr>
                <td class="border-dark" scope="row">Mongoose</td>
            </tr>
            <tr>
                <td class="border-dark" scope="row">Bootstrap</td>
            </tr>
            <tr>
                <td class="border-dark" scope="row">HTML5 - Dataset </td>
            </tr>
            <tr>
                <td class="border-dark" scope="row">JavaScipt</td>
            </tr>
            <tr>
                <td class="border-dark" scope="row">Ajax</td>
            </tr>
        </tbody>
    </table>
</div>

<% include ../templates/footer.ejs %>